
.settings .settings__list{
    margin-right: 20px ;
    margin-top: 30px;
    border-top: 1px solid #f7f7f7;
    padding-top:30px ;
}
.settings .settings__setting{
    margin-bottom: 30px;                         
}
.settings__setting .settings__title{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 300;
}
.settings__setting i{
    font-size: 22px;
}
